.reviews__wrapper {
  margin-bottom: 100px;
}

.reviews__wrapper {
    display: flex;
    gap: 144px;
}

.reviews__box-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 168px;
}

.reviews__box-rating{
    display: flex;
    justify-content: space-between;
    width: 166px;
    gap: 16px;

}

.reviews__box-rating div{
    align-self: center;
    align-items: center;
    display: flex;
    gap: 4px;
}

.reviews__box-rating span{
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
}

.reviews__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 168px;
}

.reviews__stars {
    display: flex;
    gap: 4px;
   
  }

.reviews__star {
    background: url("./img/star-off.svg");
    width: 16px;
    height: 16px;
  }
  
  .reviews__star_on {
    background: url("./img/star-on.svg");
  }

.reviews__box-reviews {
  max-width: 688px;
  width: 100%;
  gap: 40px;
  display: flex;
  flex-direction: column;

}

.reviews__user {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #ad9a9a;
  height: 132px;
}

.reviews__name-user {
  font-size: 18px;
  padding-left: 50px;
  position: relative;
  height: 36px;
}

.reviews__name-user::before {
  content: '';
  background: url("./img/user.svg") no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  top: -5px;
}

.reviews__date {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: rgb(143, 143, 143);

}

.reviews__text {
  font-size: 16px;
  font-weight: 400;
}

.reviews__your-review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews__box-user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviews__text-grade {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

.reviews__box-user .reviews__stars .reviews__star:hover {
  cursor: pointer;
  background: url("./img/star-on.svg");
}

.reviews__input-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews__input-text {
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 84px;
  padding: 8px 16px;
}

.reviews__input-text::placeholder {
  font-size: 16px;
}

.reviews__btn-send {
  align-self: start;
  width: 188px;
  height: 40px;
  border-radius: 4px;
  background: rgb(252, 213, 186);
  color: rgb(255, 102, 51);
  font-size: 16px;
}

.reviews__btn-send:hover {
  background: rgb(248, 202, 169);
}