/* Карточка товара*/
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 272px;
  min-height: 349px;
  height: 100%;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  overflow: hidden;
  background-color: #fff;
  gap: 8px;
}

@media (max-width: 960px) {
  .product {
    width: 224px;
  }
}

@media (max-width: 506px) {
  .product {
    width: 160px;
    min-height: 300px;
  }
}

.product__box-images {
  position: relative;
}

.product__images {
  width: 100%;
}

.product__button-favorites {
  position: absolute;
  top: 12px;
  right: 12px;
  /* background: url("./img/favorites.svg"); */
  width: 32px;
  height: 32px;
  border-radius: 4px;
  outline: none;
}

.product__button-favorites:hover path {
  stroke: red; 
  fill: red;  
}

@media (max-width: 960px) {
  .product__button-favorites {
    transform: scale(0.8);
    top: 8px;
    right: 8px;
  }
}

.product__sales {
  position: absolute;
  background-color: #FF6633;
  font-size: 16px;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  left: 10px;
  bottom: 10px;
}
@media (max-width: 506px) {
  .product__sales {
    font-size: 12px;
  }
}

.product__box-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 45px;
  width: 100%;
  padding: 0 8px;
}

.product__price {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.product__price-cart {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 506px) {
  .product__price-cart {
    font-size: 14px;
  }
}

.product__title {
  color: #BFBFBF;
}

@media (max-width: 506px) {
  .product__title {
    font-size: 8px;
  }
}

.product__price-nocart {
  font-size: 16px;
}

@media (max-width: 506px) {
  .product__price-nocart {
    font-size: 12px;
  }
}

.product__name {
  font-size: 16px;
  padding: 0 8px;
  align-self: flex-start;
}

.product__link {
  display: inline-block;
  color: inherit;
}

@media (max-width: 506px) {
  .product__link {
    font-size: 12px;
  }
}

.product__box-rating {
  display: flex;
  align-self: start;
  gap: 4px;
  padding: 0 8px;
}

.product__star {
  background: url("./img/star-off.svg");
  width: 16px;
  height: 16px;
}

.product__star:hover {
  background: url("./img/star-on.svg");
}

.product__star_on {
  background: url("./img/star-on.svg");
}

.product__button-buy {
  width: calc(100% - 16px);
  height: 40px;
  font-size: 16px;
  color: #70C05B;
  border-radius: 4px;
  border: 1px solid #70C05B;
  margin-bottom: 8px;
}

.product__button-buy:hover {
  background-color: #FF6633;
  color: #fff;
  border: none;
}