/*-----------акции, новинки, покупали раньше------------------*/
.product-list__wrapper {
  height: 443px;
  margin: 40px 0;
}

@media (max-width: 1210px) {
  .product-list__wrapper {
    overflow: hidden;
  }
}

@media (max-width: 506px) {
  .product-list__wrapper {
    min-height: 336px;
    height: 100%;
  }
}

.product-list__header {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.product-list__all {
  display: flex;
  align-items: center;
  width: 128px;
  height: 24px;
  position: relative;
  color: inherit;
  padding: 8px;
}

.product-list__all::after {
  content: "";
  background: url("./img/button-right.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
}

.product-list__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 40px;
}

@media (max-width: 1210px) {
  .product-list__box {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 960px) {
  .product-list__box {
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .product-list__box {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}