/* Карточка товара*/
.card__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
}

.card__name {
    color: rgb(65, 65, 65);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.card__box-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    max-width: 556px;
}

.card__product-article {
    color: rgb(65, 65, 65);
    font-size: 12px;
    line-height: 150%;
}

.card__box-rating {
    align-self: center;
}

.card__rating-text {
    margin-left: 8px;
}

.card__button {
    position: relative;
    width: 132px;
    height: 32px;
    padding-left: 20px;
    border-radius: 5px;
    color: rgb(96, 96, 96);
    font-size: 12px;
    line-height: 150%;
}

.card__button:hover {
    background-color: burlywood;
}

.card__button::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 4px;
    width: 24px;
    height: 24px;
}

.card__button-share::before {
    background: url(./img/share.svg);
}

.card__button-favorites::before {
    background: url(./img/heart.svg);
}

.card__box {
    display: flex;
    justify-content: space-between;
}

/* Блок изображений карточки*/
.card__box-images {
    display: flex;
    gap: 16px;
    max-width: 584px;
}

.card__box-small {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 496px;
}

.card__small {
    width: 64px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card__small:hover {
    cursor: pointer;
    outline: 1px solid red;
    transition: 3s;
}


.card__images_small {
    width: 64px;
    height: 86px;
    object-fit: contain;
}

.card__big {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 504px;
    height: 496px;
    position: relative;
    background-color: #fff;
}

.card__images_big {
    max-width: 504px;
    max-height: 496px;
    background-color: chocolate;
    background-size: cover;
}

.card__sales {
    position: absolute;
    background-color: #FF6633;
    padding: 4px 8px;
    border-radius: 4px;
    top: 20px;
    right: 20px;
    color: #fff;
}

/*Блок информации карточки*/
.card__box-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 376px;
    width: 100%;
}

.card___box-price {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 76px;
    width: 100%;
}

.card___price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card___price-nocart {
    color: rgb(96, 96, 96);
    font-size: 24px;
    line-height: 150%;
}

.card___title {
    color: rgb(191, 191, 191);
    font-size: 12px;
    line-height: 150%;
}

.card___price-cart {
    color: rgb(65, 65, 65);
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

.card__button-buy {
    width: 100%;
    height: 60px;
    padding-left: 56px;
    position: relative;
    background-color: #FF6633;
    color: #fff;
    font-size: 24px;
    line-height: 150%;
    border-radius: 4px;
}

.card__button-buy:hover {
    background-color: #fc541c;
}

.card__button-buy::before {
    content: '';
    background: url(./img/shopping-cart.svg) no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 18px;
}

.card__bonus {
    color: rgb(112, 192, 91);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    padding-left: 40px;
    position: relative;
    width: 250px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__bonus::before {
    content: '';
    background: url(./img/hemisphere.svg) no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: 10px;
}

.card__button-decrease {
    position: relative;
    padding-left: 40px;
    width: 248px;
    height: 32px;
}

.card__button-decrease:hover {
    background-color: bisque;
}

.card__button-decrease::before {
    content: '';
    background: url(./img/feather.svg) no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: 4px;
}

.card__box-characteristics {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin-top: 8px;
}

.card__characteristics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 10px;
}

.card__characteristics:nth-child(odd) {
    background-color: #F3F2F1;
}

.card__characteristics-left {
    padding: 8px 4px;
    color: rgb(65, 65, 65);
    font-size: 12px;
}

.card__characteristics-right {
    padding: 8px 4px;
    color: rgb(65, 65, 65);
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
}

/*Блок с похожими товарами*/
.card__similar > span{
    color: rgb(96, 96, 96);
    line-height: 150%;
    text-align: left;
    margin-bottom: 16px;
    display: block;
}

.card__box-similar {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.card__similar-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 168px;
    height: 104px;
    padding: 6px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 0px rgba (0, 0, 0, 0.1);
    background-color: #fff;
}

.card__similar-product:hover {
    outline: 1px solid #fc541c;
    cursor: pointer;
}

.card__similar-product img{
    height: 47px;
    object-fit: contain;
}

.card__similar-product span{
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
}